@page "/auth/forgot-password"
@using PosDesktop.Services.Interfaces
@layout GuestLayout
@inject IAuthService _authService
@inject NavigationManager Navigation
@inject IJSRuntime _jsRuntime
@inject IToastService ToastService
<section class="body1">
   
        <div class="login-container row">

            <div class="col-md-6 col-sm-12">
                <EditForm Model="@model" OnValidSubmit="@HandleSend">
                    <DataAnnotationsValidator />
                    <div class="login-box">
                        <h2 class="text-center">Forgot Password</h2>
                        <div class="form-group">
                            <input type="email" placeholder="Email" @bind-value="model.Email">
                            <span class="text-danger">@GetErrorMessage(nameof(model.Email))</span>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between align-content-center mt-2 mb-3">

                        <div class="">
                            <div class="d-flex justify-content-between">
                                <a href="/auth/login">Remembered Password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-block btn-outline-info btn-md">Send Link</button>
                    </div>
                </EditForm>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="fingerprint-box mb-1">
                    <h4>With Unique Code</h4>
                </div>
                <div class="right-section">
                    <div class="pinpad-container">
                        <h4 class="text-light">
                            Forgot your  password? kindly provided your registered email address to get a password reset code
                        </h4>
                    </div>
                </div>
            </div>

        </div>
   
</section>
@code {

    private ForgotPasswordModel model = new();
    private Dictionary<string, List<string>> errorMessages = new();
    private bool IsLoading { get; set; } = false;

    private async Task HandleSend()
    {
        IsLoading = true;
        errorMessages.Clear();
        var response = await _authService.ForgotPassword(model.Email);

        if (response.Status)
        {
            IsLoading = false;
            model.Email = string.Empty;
            ToastService.ShowSuccess(response.Message ?? "Password reset link sent to your email.");

        }
        else
        {
            if (response.Errors?.Count > 0)
            {
                IsLoading = false;
                errorMessages = response.Errors.ToDictionary(
                    kvp => kvp.Key,
                    kvp => kvp.Value.ToList()
                );
            }
            else if (!string.IsNullOrEmpty(response.Message))
            {
                IsLoading = false;
                ToastService.ShowError(response.Message);
            }
        }
    }

    private string? GetErrorMessage(string fieldName)
    {
        return errorMessages.ContainsKey(fieldName)
            ? errorMessages[fieldName].FirstOrDefault()
            : null;
    }



    private class ForgotPasswordModel
    {
        public string Email { get; set; }
    }

   
}